---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="EIP-2077 - 2077 Collective - Ethereum's Unofficial Marketing Department"
>
  <main>
    <section class="bg-slate-900 p-6 text-white text-center mb-4">
      <p>
        EIP-2077[^1] [^1]: Note: EIP-2077 is not an official EIP, but rather a
        fictional/satirical example. It is not listed on the official EIP wiki
        page.
      </p>
    </section>
    <header class="header">
      <nav class="main_navigation">
        <a href="/demo.html">
          <img src="/logo.svg" alt="" />
        </a>
        <div class="social">
          <a href="https://x.com/2077Collective" target="_blank" class="cta">
            <svg
              width="36"
              height="36"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              ><path
                d="M7.23336 4.69629C7.23336 2.96884 8.63335 1.56857 10.36 1.56857C11.3736 1.56857 12.183 2.04804 12.7254 2.74385C13.3079 2.62467 13.8557 2.40913 14.3513 2.11508C14.1559 2.72598 13.7424 3.2396 13.2033 3.56463C13.2038 3.56568 13.2042 3.56674 13.2047 3.56779C13.7334 3.50361 14.2364 3.36302 14.7048 3.15546L14.7037 3.15715C14.3667 3.66183 13.9431 4.10736 13.4561 4.47034C13.4823 4.64672 13.4956 4.82427 13.4956 5.00079C13.4956 8.6871 10.6873 12.9746 5.52122 12.9746C3.93906 12.9746 2.46544 12.511 1.22505 11.7152C0.992632 11.5661 0.925108 11.2568 1.07423 11.0244C1.0874 11.0038 1.10183 10.9846 1.11734 10.9666C1.20582 10.8202 1.37438 10.7309 1.5554 10.7522C2.47066 10.8601 3.38568 10.7485 4.19219 10.3962C3.39226 10.0434 2.77129 9.35975 2.50204 8.51974C2.45359 8.3686 2.48835 8.20311 2.59351 8.08422C2.59716 8.0801 2.60087 8.07606 2.60464 8.0721C1.96391 7.50819 1.55973 6.68208 1.55973 5.76143V5.72759C1.55973 5.56814 1.64411 5.42059 1.78155 5.33974C1.82671 5.31317 1.87537 5.29511 1.92532 5.28558C1.70549 4.86154 1.58116 4.37984 1.58116 3.86958C1.58116 3.40165 1.58384 2.81192 1.91332 2.28081C1.98718 2.16175 2.10758 2.08915 2.2364 2.07195C2.42588 2.01237 2.64087 2.06969 2.77406 2.23302C3.86536 3.57126 5.44066 4.49583 7.23366 4.73961L7.23336 4.69629ZM5.52122 11.9746C4.73387 11.9746 3.97781 11.8435 3.27248 11.6023C4.13012 11.4538 4.95307 11.1159 5.66218 10.5602C5.81211 10.4427 5.87182 10.2435 5.81126 10.0629C5.7507 9.88234 5.583 9.75943 5.39255 9.75607C4.68968 9.74366 4.06712 9.39716 3.67793 8.86845C3.86828 8.85306 4.05428 8.82039 4.23445 8.77167C4.43603 8.71716 4.57363 8.53114 4.56674 8.32243C4.55985 8.11372 4.41029 7.93718 4.20555 7.89607C3.42694 7.73977 2.79883 7.16764 2.56169 6.42174C2.76255 6.47025 2.97102 6.4991 3.18482 6.5061C3.38563 6.51267 3.56646 6.38533 3.62795 6.19405C3.68943 6.00277 3.61666 5.79391 3.44963 5.68224C2.86523 5.29155 2.48116 4.62464 2.48116 3.86958C2.48116 3.70213 2.48352 3.55268 2.49355 3.41719C3.85115 4.79913 5.70873 5.68931 7.77588 5.79338C7.93225 5.80126 8.08328 5.73543 8.18395 5.61553C8.28463 5.49562 8.32332 5.33548 8.28851 5.18284C8.25255 5.02517 8.23336 4.86284 8.23336 4.69629C8.23336 3.52085 9.18591 2.56857 10.36 2.56857C11.5943 2.56857 12.4956 3.71208 12.4956 5.00079C12.4956 8.25709 10.0202 11.9746 5.52122 11.9746Z"
                fill="black"
                fill-rule="evenodd"
                clip-rule="evenodd"></path></svg
            ></a
          >

          <a
            href="https://discord.gg/2077collective"
            target="_blank"
            class="cta"
          >
            <svg
              width='36"'
              height="36"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.07451 1.82584C5.03267 1.81926 4.99014 1.81825 4.94803 1.82284C4.10683 1.91446 2.82673 2.36828 2.07115 2.77808C2.02106 2.80525 1.97621 2.84112 1.93869 2.88402C1.62502 3.24266 1.34046 3.82836 1.11706 4.38186C0.887447 4.95076 0.697293 5.55032 0.588937 5.98354C0.236232 7.39369 0.042502 9.08728 0.0174948 10.6925C0.0162429 10.7729 0.0351883 10.8523 0.0725931 10.9234C0.373679 11.496 1.02015 12.027 1.66809 12.4152C2.32332 12.8078 3.08732 13.1182 3.70385 13.1778C3.85335 13.1922 4.00098 13.1358 4.10282 13.0255C4.2572 12.8581 4.5193 12.4676 4.71745 12.1643C4.80739 12.0267 4.89157 11.8953 4.95845 11.7901C5.62023 11.9106 6.45043 11.9801 7.50002 11.9801C8.54844 11.9801 9.37796 11.9107 10.0394 11.7905C10.1062 11.8957 10.1903 12.0269 10.2801 12.1643C10.4783 12.4676 10.7404 12.8581 10.8947 13.0255C10.9966 13.1358 11.1442 13.1922 11.2937 13.1778C11.9102 13.1182 12.6742 12.8078 13.3295 12.4152C13.9774 12.027 14.6239 11.496 14.925 10.9234C14.9624 10.8523 14.9813 10.7729 14.9801 10.6925C14.9551 9.08728 14.7613 7.39369 14.4086 5.98354C14.3003 5.55032 14.1101 4.95076 13.8805 4.38186C13.6571 3.82836 13.3725 3.24266 13.0589 2.88402C13.0214 2.84112 12.9765 2.80525 12.9264 2.77808C12.1708 2.36828 10.8907 1.91446 10.0495 1.82284C10.0074 1.81825 9.96489 1.81926 9.92305 1.82584C9.71676 1.85825 9.5391 1.96458 9.40809 2.06355C9.26977 2.16804 9.1413 2.29668 9.0304 2.42682C8.86968 2.61544 8.71437 2.84488 8.61428 3.06225C8.27237 3.03501 7.90138 3.02 7.5 3.02C7.0977 3.02 6.72593 3.03508 6.38337 3.06244C6.28328 2.84501 6.12792 2.61549 5.96716 2.42682C5.85626 2.29668 5.72778 2.16804 5.58947 2.06355C5.45846 1.96458 5.2808 1.85825 5.07451 1.82584ZM11.0181 11.5382C11.0395 11.5713 11.0615 11.6051 11.0838 11.6392C11.2169 11.843 11.3487 12.0385 11.4508 12.1809C11.8475 12.0916 12.352 11.8818 12.8361 11.5917C13.3795 11.2661 13.8098 10.8918 14.0177 10.5739C13.9852 9.06758 13.7993 7.50369 13.4773 6.21648C13.38 5.82759 13.2038 5.27021 12.9903 4.74117C12.7893 4.24326 12.5753 3.82162 12.388 3.5792C11.7376 3.24219 10.7129 2.88582 10.0454 2.78987C10.0308 2.79839 10.0113 2.81102 9.98675 2.82955C9.91863 2.881 9.84018 2.95666 9.76111 3.04945C9.71959 3.09817 9.68166 3.1471 9.64768 3.19449C9.953 3.25031 10.2253 3.3171 10.4662 3.39123C11.1499 3.6016 11.6428 3.89039 11.884 4.212C12.0431 4.42408 12.0001 4.72494 11.788 4.884C11.5759 5.04306 11.2751 5.00008 11.116 4.788C11.0572 4.70961 10.8001 4.4984 10.1838 4.30877C9.58933 4.12585 8.71356 3.98 7.5 3.98C6.28644 3.98 5.41067 4.12585 4.81616 4.30877C4.19988 4.4984 3.94279 4.70961 3.884 4.788C3.72494 5.00008 3.42408 5.04306 3.212 4.884C2.99992 4.72494 2.95694 4.42408 3.116 4.212C3.35721 3.89039 3.85011 3.6016 4.53383 3.39123C4.77418 3.31727 5.04571 3.25062 5.35016 3.19488C5.31611 3.14738 5.27808 3.09831 5.23645 3.04945C5.15738 2.95666 5.07893 2.881 5.01081 2.82955C4.98628 2.81102 4.96674 2.79839 4.95217 2.78987C4.28464 2.88582 3.25999 3.24219 2.60954 3.5792C2.42226 3.82162 2.20825 4.24326 2.00729 4.74117C1.79376 5.27021 1.61752 5.82759 1.52025 6.21648C1.19829 7.50369 1.01236 9.06758 0.97986 10.5739C1.18772 10.8918 1.61807 11.2661 2.16148 11.5917C2.64557 11.8818 3.15003 12.0916 3.5468 12.1809C3.64885 12.0385 3.78065 11.843 3.9138 11.6392C3.93626 11.6048 3.95838 11.5708 3.97996 11.5375C3.19521 11.2591 2.77361 10.8758 2.50064 10.4664C2.35359 10.2458 2.4132 9.94778 2.63377 9.80074C2.85435 9.65369 3.15236 9.71329 3.29941 9.93387C3.56077 10.3259 4.24355 11.0201 7.50002 11.0201C10.7565 11.0201 11.4392 10.326 11.7006 9.93386C11.8477 9.71329 12.1457 9.65369 12.3663 9.80074C12.5869 9.94779 12.6465 10.2458 12.4994 10.4664C12.2262 10.8762 11.8041 11.2598 11.0181 11.5382ZM4.08049 7.01221C4.32412 6.74984 4.65476 6.60162 5.00007 6.59998C5.34538 6.60162 5.67603 6.74984 5.91966 7.01221C6.16329 7.27459 6.30007 7.62974 6.30007 7.99998C6.30007 8.37021 6.16329 8.72536 5.91966 8.98774C5.67603 9.25011 5.34538 9.39833 5.00007 9.39998C4.65476 9.39833 4.32412 9.25011 4.08049 8.98774C3.83685 8.72536 3.70007 8.37021 3.70007 7.99998C3.70007 7.62974 3.83685 7.27459 4.08049 7.01221ZM9.99885 6.59998C9.65354 6.60162 9.3229 6.74984 9.07926 7.01221C8.83563 7.27459 8.69885 7.62974 8.69885 7.99998C8.69885 8.37021 8.83563 8.72536 9.07926 8.98774C9.3229 9.25011 9.65354 9.39833 9.99885 9.39998C10.3442 9.39833 10.6748 9.25011 10.9184 8.98774C11.1621 8.72536 11.2989 8.37021 11.2989 7.99998C11.2989 7.62974 11.1621 7.27459 10.9184 7.01221C10.6748 6.74984 10.3442 6.60162 9.99885 6.59998Z"
                fill="black"></path></svg
            >
          </a>
          <button
            id="btn"
            class="h-12 w-12 rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <svg
              id="dark-icon"
              class="fill-slate-700 block dark:hidden"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              ></path>
            </svg>
            <svg
              id="light-icon"
              class="fill-yellow-500 hidden dark:block"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </nav>
    </header>
    <section class="flow heading">
      <div>
        <h1>EIP-2077: Ethereum Marketing Department</h1>
        <p>
          An operation to accelerate Ethereum mindshare, adoption, and growth
          through strategic brand marketing and promotion
        </p>
      </div>
      <div class="image">
        <img src="/as.webp" alt="" />
      </div>
    </section>
    <section class="flow tag">
      <ul class="main">
        <li><span><img src="/design.svg" alt="" /></span>Review</li>
        <li>
          <span><img src="/review.svg" alt="" /></span>Standard Track: Core
        </li>
      </ul>
      <ul class="info">
        <li>
          <span>author:</span> 2077 Collective <a href="">(@2077Collective)</a>
        </li>
        <li><span>created on:</span> 24-06-2024</li>
        <li>
          <span>requires:</span>
          <span class="eip"
            ><a
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
              target="_blank">EIP-401</a
            ></span
          >
          <span class="eip"
            ><a
              href="https://hackmd.io/@pcaversaccio/the-ethereum-cypherpunk-manifesto"
              target="_blank">EIP-31624</a
            ></span
          >
        </li>
      </ul>
    </section>
    <article class="flow hero">
      <h2>Abstract</h2>
      <p class="lede">
        Introduces 2077 Collective (a.k.a. Ethereum’s Unofficial Marketing
        Department): a community-driven initiative to strengthen the Ethereum
        brand and onboard new users, builders, and investors through coordinated
        marketing efforts. The newly formed 2077 Collective rallies the social
        layer to amplify ETH-focused messages online and fix Ethereum’s current
        lack of representation in the digital sphere.
      </p>
      <h2>Motivation</h2>
      <p>
        The authors of this proposal have identified the following problems with
        Ethereum's marketing:
      </p>
      <ul class="marketing">
        <li>
          <span
            >Ethereum doesn’t have a marketing team but its competitors do.</span
          >
          This affects the Ethereum brand and negatively affects public sentiment,
          mindshare, and developer/user adoption. There’s an established community
          of researchers and developers focused on building and scaling Ethereum.
          But there’s no unified community focused on promoting it.
        </li>
        <li>
          <span>Ethereum lacks a strong social media presence.</span>
          Outside certain platforms such as Farcaster), defenders of the Ethereum
          brand are outnumbered and outclassed by superior shitposting and shilling
          from other L1 communities. Competing L1s dominate the discourse and create
          the false perception of Ethereum as a "dead chain" where the community
          of builders, users, and enthusiasts have disappeared into the ether.
        </li>
        <li>
          <span>Ethereum underallocates to coordinated marketing.</span>
          The Ethereum community takes a hands off approach—in the interests of decentralization
          and credible neutrality—and eschews coordinated promotion and marketing
          of Ethereum and Ethereum projects. However, the lack of a central organization
          coordinating efforts to market Ethereum leads to inconsistent, incoherent,
          and ineffective promotional campaigns for the protocol and ecosystem projects.
        </li>
        <li>
          <span>Ethereum lacks strong voices and advocates.</span>
          Builders and researchers are often too humble and would rather build in
          stealth than take up the task of advocating for Ethereum online and in
          meatspace. Excessive humility and aversion to self-promotion among Ethereans
          results in underappreciation of innovative projects in the Ethereum ecosystem
          and low interest in cutting-edge R&D work undertaken by core developers
          and researchers.
        </li>
      </ul>
      <h2>Specification</h2>
      <p>
        The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”,
        “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “MAY”, and “OPTIONAL” in this
        document are to be interpreted as described in RFC 2119. The 2077
        Collective SHALL produce and distribute Ethereum-related content across
        various formats (video, podcasts, social media posts, blogs, articles,
        and more) and channels. Content created and disseminated by the 2077
        Collective MUST NOT be cringe.
      </p>
      <p>
        We further define a set of Ethereum marketing functions that SHOULD be
        implemented by all members of the Ethereum community. Implementers MUST
        be based and serious about making Ethereum cool, great and fun again. A
        verbose description of the specification is provided later in this
        document.
      </p>

      <div class="code">
        <p id="block">
          pragma solidity ^0.14.0; <br />
          <br />
          operation marketEthereum public () <br />
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;function fillTheGap() external;<br /><br
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;function controlTheNarrative() external;<br
          />
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;function correctTheFocus() external;<br
          />
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;function promoteEthereumEcosystem() external;<br
          />
          <br />
        </p>
      </div>
      <div class="functionality">
        <code>
          <ul class="marketing">
            <li>
              <div>
                <span>Function ID:</span>
                <p class="function">fillMarketingGap()</p>
              </div>
              <div>
                <span>Description:</span>
                <p>Fill the marketing and mindset gap in Ethereum</p>
              </div>
              <div>
                <span>Comments:</span>
                <p>- Establish consensus on core Ethereum marketing problems</p>
                <p>
                  - Create public good infrastructure to tackle marketing
                  problems
                </p>
                <p>
                  - Forge working relationships between Ethereum tech community
                  and marketers
                </p>
              </div>
            </li>

            <li>
              <div>
                <span>Function ID:</span>
                <p class="function">controlTheNarrative()</p>
              </div>
              <div>
                <span>Description:</span>
                <p>Focus Ethereum marketing efforts in the right description</p>
              </div>
              <div>
                <span>Comments:</span>
                <p>
                  - Bring more people on-chain by showcasing innovative
                  applications and projects
                </p>
                <p>
                  - Increase % of developers and businesses building on-chain by
                  publishing case studies and highlighting use-cases
                </p>
                <p>
                  - Forge working relationships between Ethereum tech community
                  and marketers
                </p>
              </div>
            </li>

            <li>
              <div>
                <span>Function ID:</span>
                <p class="function">correctTheFocus()</p>
              </div>
              <div>
                <span>Description:</span>
                <p>Focus Ethereum marketing efforts in the right description</p>
              </div>
              <div>
                <span>Comments:</span>
                <p>
                  - Bring more people on-chain by showcasing innovative Ethereum
                  applications and projects.
                </p>

                <p>- Increase % of builders in the Ethereum ecosystem</p>

                <p>
                  - Create tools + resources to onboard new users, developers,
                  and businesses to Ethereum.
                </p>
              </div>
            </li>

            <li>
              <div>
                <span>Function ID:</span>
                <p class="function">promoteEthereumBrand()</p>
              </div>
              <div>
                <span>Description:</span>
                <p>Proactively promote and defend the Ethereum brand</p>
              </div>
              <div>
                <span>Comments:</span>
                <p>
                  - Use 2077 Collective to promote the Ethereum
                  ecosystem—including Ethereum-adjacent projects and
                  protocols—to drive adoption, mindshare, and investment.
                </p>
                <p>
                  - Market the full breadth of the Ethereum ecosystem and show
                  what it has to offer.
                </p>

                <p>
                  - Educate users, builders, and businesses about the value
                  proposition of Ethereum infrastructure.
                </p>
              </div>
            </li>
          </ul>
        </code>
      </div>
      <h2>Rationale</h2>
      <p>
        If we wish to spread Ethereum and cypherpunk values to as many people as
        possible, there must be a coherent effort for the production and
        distribution of high-quality memes and content promoting Ethereum. This
        effort must be proactive and reactive to be able to create new
        narratives while responding to existing critiques or narratives of other
        blockchain networks. By proactively educating audiences about Ethereum’s
        value proposition, we can onboard new users, builders, business, and
        creators to the Ethereum ecosystem.
      </p>
      <p>
        A community-wide effort to market and promote Ethereum must be
        coordinated for maximum effectiveness. A central entity like the 2077
        Collective creating marketing for Ethereum as a public good will likely
        be more effective compared to the current architecturally decentralized
        approach due to increased coordination allowing for the creation and
        maintenance of a coherent brand.
      </p>
      <h2>Backwards Compatibility</h2>
      <p>
        This EIP introduces backwards incompatible changes to Ethereum's social
        layer and must be accompanied by a cultural hard fork. The industry is
        required to prepare sufficiently for these changes to Ethereum's
        messaging and promotion.
      </p>
      <h2>Security Considerations</h2>
      <p>
        This change injects life into Ethereum's marketing engine and is
        projected to accelerate adoption, usage, and mindshare to significant
        levels. We foresee a fundamental vibe shift and increased awareness of
        Ethereum's greatness, awesomeness, and coolness of Ethereum as a result
        of EIP-2077. Individuals suffering from <a
          href="https://www.urbandictionary.com/define.php?term=etherphobia"
          id=""
          target="_blank">etherphobia</a
        >
        may experience intense bouts of cope, frustration, and liquidation due to
        prolonged exposure to new Ethereum bangers. Such individuals are advised
        to limit their exposure to Ethernauts, the 2077 Collective, and cryptocurrency
        in general.
      </p>

      <h2>Invitation</h2>
      <ul>
        <li>
          Join our Discord server <a href="https://discord.gg/2077Collective"
            >(https://discord.gg/2077Collective)</a
          >
        </li>
        <li>
          Follow us on X <a
            href="https://twitter.com/2077Collective"
            target="_blank">(https://x.com/2077Collective)</a
          >
        </li>
        <li>Be based</li>
      </ul>
      <h2>Copyright</h2>
      <p>Copyright and related rights waived via <a href="">MIT</a></p>
      <h2>Citation</h2>
      <p>Please do not cite this document as:</p>
      <p>
        Emmanuel Awosika <a href="https://x.com/eawosikaa" target="_blank"
          >(@eawosikaa)</a
        >, Olly <a href="https://twitter.com/operator_xyz" target="_blank"
          >(@operator_xyz)</a
        >, Lynett.eth <a href="https://twitter.com/Lynett0x" target="_blank"
          >(@Lynett0x)</a
        >, and 2077 Collective <a
          href="https://twitter.com/2077Collective"
          target="_blank">(@2077Collective)</a
        >, "EIP-2077: Ethereum Marketing Department," Not actually an EIP, no.
        2077, May 2024. [Online serial]. Available: <a class="" href="https://2077.xyz"
          >2077.xyz</a
        >.
      </p>
    </article>
    <section class="flow update">
      <p>Last updated: 16-07-2024</p>
    </section>
  </main>
</Layout>

<style lang="scss">
  ul {
    padding-inline-start: 0 !important;
  }
  .community {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: grid;
    row-gap: 0.5rem;
    z-index: 2;

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      display: none;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 4rem;
    border-radius: 0.2rem;
    border: 1px solid #bcbcbc;
    background-color: var(--color-light);

    .main_navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem;
    }

    .social {
      display: none;
      align-items: center;
      column-gap: 2rem;
    }
    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .social {
        display: flex;
      }
    }
  }
  .sections {
    position: fixed;
    top: 20%;
    display: none;
  }
  .heading {
    max-width: 120ch;
    margin-inline: auto;

    h1 {
      padding-block-end: 1.2rem;
    }

    .image {
      position: absolute;
      left: 80%;
      top: 10%;
      display: none;
    }
  }
  .tag {
    max-width: 120ch;
    margin-inline: auto;
    border-bottom: 1px solid var(--color-dark);
    margin-block-end: 2rem;
    padding-block-end: 1rem;

    ul {
      padding-inline-start: 0 !important;

      li {
        font-size: var(--size-step-0);
        list-style-type: none;
        padding-inline: 0.4rem;
        padding-block: 0.2rem;
        border-radius: 0.2rem;
      }
    }

    .main {
      li {
        display: inline-flex;
        align-items: center;
        column-gap: 0.2rem;
      }

      li:nth-child(1) {
        margin-block-end: 0.5rem;
        background-color: #15803d;
        color: var(--color-light);
        font-weight: 700;
        box-shadow:
          0 4px 4px #a0a0a024,
          0 2px 5px #a0a0a01f,
          0 1px 10px #a0a0a01a;
      }

      li:nth-child(2) {
        background-color: #1d4ed8;
        color: white;
        font-weight: 700;
        box-shadow:
          0 4px 4px #a0a0a024,
          0 2px 5px #a0a0a01f,
          0 1px 10px #a0a0a01a;
      }
    }
    .info {
      display: grid;
      margin-block-end: 0 !important;
      span {
        font-weight: 900;
        text-transform: capitalize;
      }
      a {
        padding: 0.2rem;
        font-weight: 800;
        background-color: rgb(234, 234, 234);
        border-radius: 0.2rem;
        border: 1px solid var(--color-primary);
        text-decoration: none;
        font-family: monospace;
      }
    }
    .icon {
      display: flex;
      column-gap: 0.4rem;
      margin-block-start: 0 !important;
    }
    .eip {
      text-decoration: underline;

      color: var(--semantic-blue-default-active);
    }
  }
  .hero {
    margin-block-end: 4rem;

    h2 {
      margin-block-end: 0.8rem;
      padding: 0.4rem 0.8rem;
      font-weight: 800;
      background-color: rgb(234, 234, 234);
      border-radius: 0.2rem;
      border: 1px solid var(--color-primary);
      text-decoration: none;
      display: inline-block;
    }

    ul {
      display: grid;
      row-gap: 0.6rem;
    }

    a {
      padding: 0.2rem;
      font-weight: 800;
      background-color: rgb(234, 234, 234);
      border-radius: 0.2rem;
      border: 1px solid var(--color-primary);
      text-decoration: none;
      font-family: monospace;
    }
    .heading {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
    }
    .marketing {
      span {
        font-weight: 900;
      }
    }
    .functionality {
      div {
      }
      code {
        max-width: 92ch;
        display: inline-grid;
        row-gap: 0.4rem;
        border: 1px solid var(--neutral-ink-default-normal);
        border-radius: 4px;
        p {
          font-size: 1.2rem;
        }

        ul {
          padding-inline-start: 0;
          margin: 0;
        }

        li {
          list-style-type: none;
          padding-block: 1.6rem;
          border-bottom: 2px solid var(--neutral-ink-default-normal);

          div {
            padding: 0.4rem 0.8rem;
            display: grid;

            &:nth-child(1) {
              border-bottom: 1.6px dotted black;
              padding-block-end: 1rem;
            }
            &:nth-child(2) {
              border-bottom: 1.6px dotted black;
            }
          }
        }

        .function {
          background-color: var(--neutral-ink-dark-normal);
          display: inline-block;
          width: fit-content;
          padding: 0.1rem 0.4rem;
          color: var(--semantic-green-dark-normal);
          border-radius: 8px;
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }
  #block {
    background-color: var(--leather-default-active);
    display: inline-block;
    padding: 2rem 2rem;
  }
  .update {
    max-width: 120ch;
    margin-inline: auto;
    margin-block-end: 2rem;
    padding-block-end: 2rem;
    border-bottom: 1.2px solid var(--color-dark);
  }

  .redacted {
    background-color: black !important;
    color: black !important;
    pointer-events: none;
  }
</style>
