---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2077 Collective Teaser Website">
	<main>
		<header class="header">
			<nav class="main_navigation">
				<a href="/demo.html">
				<img src="/logo.svg" alt="">
			</a>
				<a href="" class="cta">join 2077 community</a>
			</nav>
		</header>
		<section class="flow sections">
			<h4>topics</h4>
			<a href="#abstract">abstract</a>
			<a href="#motivation">motivation</a>
			<a href="#specification">specification</a>
			<a href="#rationale">rationale</a>
			<a href="#backwards_compatibility">backwards compatibility</a>
			<a href="#security_considerations">security considerations</a>
			<a href="#invitation">invitation</a>
			<a href="#copyright">copyright</a>
			<a href="#citation">citation</a>
		</section>
		<section class="flow heading">
			<div>
			<h1>EIP-2077: Ethereum Marketing Department</h1>
			<p>An operation to accelerate Ethereum mindshare, adoption, and growth through strategic brand marketing and promotion</p>
			</div>
			<div class="image">
			<img src="/as.webp" alt="">
			</div>
		</section>
		<section class="flow tag">
			<ul class="main">
				<li><span><img src="/design.svg" alt=""></span>Review</li>
				<li><span><img src="/review.svg" alt=""></span>Standard Track: Core</li>
			</ul>
			<ul class="info">
				<li><span>author:</span> 2077 Collective <a href="">(@2077Collective)</a></li>
				<li><span>created on:</span> 24-06-2024</li>
				<li><span>requires:</span> <span class="eip">EIP-401</span> <span class="eip">EIP-31624</span></li>
			</ul>
			<ul class="icon">
				<li>
					<a href="#discordortwitter">
						<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#BE185D" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z" clip-rule="evenodd"/>
						  </svg>
					</a>
					  
				</li>
				<li>
					<a href="https://github.com/2077collective">
						<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#EA580C" viewBox="0 0 24 24">
							<path stroke="#EA580C" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"/>
						  </svg>
					</a>
				</li>
			</ul>
		</section>
		<article class="flow hero">
			<h2><a href="" id="abstract">Abstract</a></h2>
			<p class="lede">Introduces 2077 Collective: a community-driven initiative to strengthen the Ethereum brand and onboard new users, builders, and investors through coordinated marketing efforts. The newly formed 2077 Collective rallies the social layer to amplify ETH-focused messages online and fix Ethereum’s current lack of representation in the digital sphere.</p>
			<h2><a href="" id="motivation">Motivation</a></h2>
			<p>
				EIP-2077 (Ethereum Marketing Department) was created out of recognition of Ethereum's marketing problems: 
			</p>
			<h4>Marketing & mindset gap</h4>
			<ul class="marketing">
				<li>
					<span>Ethereum doesn’t have a marketing team but its competitors do.</span>
					There’s an established community of researchers and developers focused on building and scaling Ethereum. But there’s no unified community focused on promoting it.
				</li>
				<li>
					<span>Ethereum lacks a strong social media presence.</span>
					Outside certain platforms such as Farcaster), defenders of the Ethereum brand are outnumbered and outclassed by superior shitposting and shilling from other L1 communities. Competing L1s dominate the discourse and create the false perception of Ethereum as a  "dead chain" where the community of builders, users, and enthusiasts have disappeared into the ether.
				</li>
				<li>
					<span>Ethereum underallocates to coordinated marketing.</span>
					The Ethereum Foundation takes a hands off approach—in the interests of decentralization and credible neutrality—and eschews involvement in promotion and marketing of Ethereum and Ethereum projects. The lack of a central organization coordinating efforts to market Ethereum leads to inconsistent, incoherent, and ineffective promotional campaigns for the protocol and ecosystem projects.
				</li>
				<li>
					<span>Ethereum lacks strong voices and advocates.</span>
					There’s an established community of researchers and developers focused on building and scaling Ethereum. But there’s no unified community focused on promoting it.
				</li>
			</ul>
			<h4>The Narrative Vacuum</h4>
			<p>
				The people whose voices really matter—core developers, researchers, builders—are often quiet. The empty space is filled with competitor noise,  which is often intellectually dishonest. This shapes the world’s view of Ethereum without anyone to credibly counteract the psyops and set the record straight when Ethereum is concerned.
			</p>
			<h4>Focus in the wrong place</h4>
			<p>
				Too much of the community's energy is spent in tribal arguments on CT or talking to other crypto natives. Having circular arguments about the investment case or esoteric technical debates is not useful after a point. For most people, energy is better spent showing the world what you can do with Ethereum right now and getting people on-chain.
			</p>
			<h4>Low neutrality</h4>
			<p>
				There are some good marketing initiatives in the Ethereum community which, while often net positive to Ethereum, tend to be self-interested at the L2 or dapp layer. Coinbase is a great example of this with Base—incredible marketing and hugely beneficial to Ethereum, but ultimately focused on one specific (albeit important) piece of the puzzle they have an interest in.
			</p>
			<h2><a href="" id="specification">Specification</a></h2>
			<p>
				The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in RFC 2119. We define the following operations, which should be implemented by members of the 2077 Collective (Ethernauts):
			</p>
			<p>Operation Market Ethereum</p>
			<p>
				MIT-License 
			</p>
			<p>
				This specification defines…
			</p>

			<code>
				<p>
					Pragma <br>
					// SPDX-License-Identifier: MIT <br>
					// marketEthereum.sol <br>
					contract <br>
					function fillTheGap() <br>
					/// Uses the 2077 collective to proactively promote the Ethereum ecosystem.<br>
					/// Establishes community consensus on the core marketing problems to solve.<br>
					/// Puts public good infrastructure in place that allows rapid tackling of marketing problems.<br>
					/// Forges working relationships between Ethereum tech community and marketers.<br>
					function controlTheNarrative()<br>
					
					/// Help the community reach consensus on a tag line and/or unified message for Ethereum.<br>
					/// Amplify the voices of protocol developers, builders, and researchers.<br>
					/// Proactively shape the Ethereum narrative and advance its position as the backbone of crypto<br>
					// Reactively defend Ethereum from FUD and counter psyops from L1 communities<br>
					function correctTheFocus()<br> 					
				</p>

				<p>
					<!--
						function _correctTheFocus() public {
						require(b != 0, errorMessage);
						return a % b;
					}
				}
					 -->
				
				/// Focus on getting people on-chain rather than arguing with other crypto-natives.<br>
				/// Bring more users on-chain by showing what can be done in the Ethereum ecosystem, right now.<br>
				/// Get more devs and businesses building on-chain by showing what’s possible (and what’s not).<br>
				/// Create tools and resources that help the above.<br>
				
				function promoteEthereumEcosystem()<br>
				
				/// Focus on marketing the full breadth of the Ethereum ecosystem and everything it has to offer. <br>
				/// Be liberal and promote Ethereum-adjacent protocols and projects where it makes sense (to avoid toxic maximalism).<br>
				/// Offer the weight of 2077 Collective to the Ethereum ecosystem to help projects drive adoption.<br>
				
				
				
				event FilledTheGap(coordinationMechanisms, contributorsAvailable, coreProblemsDefined infrastructureCreated, bool);<br>
				/// Emits when strategic activities to fill Ethereum’s marketing gap are completed <br>(2077 Collective has successfully defined core problems to solve, created infrastructure to solve those problems,<br> established coordination mechanisms, and bootstrapped a contributor community)<br>
				
				event ControlledTheNarrative(brand_awareness, sentiment, preference, uint256 _amount);<br>
				
				event CorrectedTheFocus(adoption _sender, uint256 _amount);<br>
				event PromotedEthereumEcosystem(delivery _sender, uint256 _amount);<br>
				
				</p>

				<p>
					/**
					* @notice Emitted when tokens are withdrawn from the lockbox
					*/
				 
				   event Withdraw(address _sender, uint256 _amount);<br>				 
				</p>
			</code>
			<p>
				The <a href="https://2077.xyz">2077 Collective</a> SHALL produce and distribute Ethereum-related content across various formats (video, podcasts, social media posts, blogs, articles, and more) and channels. This will include high quality memes and content about new Ethereum upgrades and protocol research, updates on DeFi protocols and consumer applications, and interviews + discussions with builders and creators in the Ethereum ecosystem. Content created and disseminated by the 2077 Collective MUST NOT be cringe.
			</p>
			<h2><a href="" id="rationale">Rationale</a></h2>
			<p>
				A central organization for creating marketing for Ethereum, as a public good, will likely be more effective compared to the current architecturally decentralized approach due to increased coordination allowing for the creation and maintenance of a coherent brand.
			</p>
			<h2><a href="" id="backwards_compatibility">Backwards Compatibility</a></h2>
			<p>
				This EIP introduces backwards incompatible changes to Ethereum's social layer and must be accompanied by a cultural hard fork. The industry is required to prepare sufficiently for these changes to Ethereum's messaging and promotion.
			</p>
			<h2><a href="" id="security_considerations">Security Considerations</a></h2>
			<p>
				This change injects life into Ethereum's marketing engine and is projected to accelerate adoption, usage, and mindshare to significant levels. We foresee a fundamental vibe shift and increased awareness of Ethereum's greatness, awesomeness, and coolness of Ethereum as a result of EIP-2077. Individuals suffering from etherphobia may experience intense bouts of cope, frustration, and liquidation due to prolonged exposure to new Ethereum bangers. Such individuals are advised to limit their exposure to Ethernauts, the 2077 Collective, and cryptocurrency in general.
			</p>
			<h2><a href="" id="invitation">Invitation</a></h2>
			<ul>
				<li>Join our Discord server <a href="">(https://discord.gg/mfYyNJbaU5)</a></li>
				<li>Follow us on X <a href="">(https://x.com/2077Collective)</a></li>
				<li>Be based</li>
			</ul>
			<h2><a href="" id="copyright">Copyright</a></h2>
			<p>Copyright and related rights waived via <a href="">MIT</a></p>
			<h2><a href="" id="citation">Citation</a></h2>
			<p>
				Please do not cite this document as:
			</p>
			<p>
				Emmanuel Awosika <a href="">(@eawosikaa)</a>, Lynett.eth <a href="">(@Lynett0x)</a>, and 2077 Collective <a href="">(@2077Collective)</a>, "EIP-2077: Ethereum Marketing Department," Not actually an EIP, no. 2077, May 2024. [Online serial]. Available: <a href="https://2077.xyz">https://2077.xyz</a>.
			</p>
			</article>
		<section class="flow update">
			<p>Last updated: 27-06-2024</p>

		</section>
	</main>
</Layout>

<style lang="scss">
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-block-end: 4rem;
		border-radius: .2rem;
		border: 1px solid #bcbcbc;
		background-color: var(--color-light);

		.main_navigation {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 1rem;
		}

		.cta {
			display: none;
			font-size: 1.2rem;
			font-weight: 800;
			padding: .5rem 1rem;
			border-radius: .5rem;
			text-decoration: none;
			background-color: var(--semantic-green-light-active);
			color: var(--leather-default-normal);
			box-shadow: 0 4px 4px rgba(160, 160, 160, 0.1411764706), 0 2px 5px rgba(108, 229, 99, 0.122)0 1px 10px rgba(160, 160, 160, 0.1019607843);

			&:hover {
			background-color: var(--semantic-green-default-active);
			color: var(--leather-light-hover);
				
			}
		}
	}
	.sections {
		position: fixed;
		top: 20%;
		display: none;
	}
	.heading {
    	max-width: 120ch;
    	margin-inline: auto;

		h1 {
			padding-block-end: 1.2rem;
		}

		.image {
			position: absolute;
			left: 80%;
			top: 10%;
			display: none;
		}
		
	}
	.tag {
    	max-width: 120ch;
    	margin-inline: auto;
		border-bottom: 1px solid var(--color-dark);
		margin-block-end: 2rem;
		
		ul {
			padding-inline-start: 0 !important;

			li {
      			font-size: var(--size-step-0);
				list-style-type: none;
				padding-inline: 0.4rem;
				padding-block: 0.2rem;
				border-radius: 0.2rem;
			}
		}

		.main {
			

			li {
				display: inline-flex;
				align-items: center;
				column-gap: 0.2rem;
			}
			
			li:nth-child(1) {
				margin-block-end: .5rem;
					background-color: #15803D;
					color: var(--color-light);
					font-weight: 700;
					box-shadow: 0 4px 4px #a0a0a024, 0 2px 5px #a0a0a01f, 0 1px 10px #a0a0a01a;
				}

			li:nth-child(2) {
					background-color: #1D4ED8;
					color: white;
					font-weight: 700;
    				box-shadow: 0 4px 4px #a0a0a024, 0 2px 5px #a0a0a01f, 0 1px 10px #a0a0a01a;
				}
		}
		.info {
			display: grid;
			margin-block-end: 0 !important;
			span {
				font-weight: 900;
				text-transform: capitalize
			}
			a {
			padding: .2rem;
			font-weight: 800;
			background-color: rgb(234, 234, 234);
			border-radius: .2rem;
			border: 1px solid var(--color-primary);
			text-decoration: none;
			font-family: monospace;
		}
		}
		.icon {
			display: flex;
			column-gap: 0.4rem;
			margin-block-start: 0 !important;


		}
		.eip {
			text-decoration: underline;

			color: var(--semantic-blue-default-active);
		}

	}
	.hero {
		margin-block-end: 4rem;

		h2 {
			margin-block-end: .8rem;
		}

		ul {
			display: grid;
			row-gap: 0.6rem;
		}

		a {
			padding: .2rem;
			font-weight: 800;
			background-color: rgb(234, 234, 234);
			border-radius: .2rem;
			border: 1px solid var(--color-primary);
			text-decoration: none;
			font-family: monospace;
		}
		.heading {
			display: grid;
			grid-template-columns: 1.5fr 0.5fr;
		}
		.marketing {
			span {
				font-weight: 900;
			}
		}
		code {
			display: inline-grid;
			row-gap: .4rem;
			min-width: 100%;
			padding: 1.2rem;
			background-color: rgb(231, 231, 231);
			border-radius: 4px;
			p {
				font-size: 0.9rem;
				font-weight: 800;
			}

			span {
				font-size: .8rem;
			}
		}
	}
	.update {
    	max-width: 120ch;
    	margin-inline: auto;
		margin-block-end: 2rem;
		padding-block-end: 2rem;
		border-bottom: 1.2px solid var(--color-dark);
	}
</style>
