---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout
  title="EIP-2077 - 2077 Collective - Ethereum's Unofficial Marketing Department"
>
  <main>
    <Header />
    <section class="px-4 md:px-6 lg:px-8 flow max-w-[120ch] mx-auto">
      <div>
        <h1 class="pb-2">
          <span
            class="text-[#789d2c] dark:text-[#C6FF50] font-bold leading-tight text-justify"
            >EIP-2077:</span
          > Ethereum Marketing Department
        </h1>
        <p class="pb-2">
          An operation to accelerate Ethereum mindshare, adoption, and growth
          through strategic brand marketing and promotion
        </p>
      </div>
    </section>
    <section class="px-4 md:px-6 lg:px-8 flow tag max-w-[120ch] mx-auto mb-8">
      <ul class="info">
        <li>
          <span>author:</span>
          <span>2077 Collective</span> (<a
            class="p-0.5 font-bold text-lg rounded-sm text-[#789d2c] dark:text-[#C6FF50] font-mono"
            href="https://2077.xyz"
            target="_blank">@2077Collective</a
          >)
        </li>
        <li><span>created on:</span> 24-06-2024</li>
        <li>
          <span>requires:</span>
          <span class="eip"
            ><a
              class="text-[#789d2c] dark:text-[#C6FF50] bg-gray-200 dark:bg-[#1b1b1b] p-1 rounded"
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
              target="_blank">EIP-401</a
            ></span
          >
          <span class="eip"
            ><a
              class="text-[#789d2c] dark:text-[#C6FF50] bg-gray-200 dark:bg-[#1b1b1b] p-1 rounded"
              href="https://hackmd.io/@pcaversaccio/the-ethereum-cypherpunk-manifesto"
              target="_blank">EIP-31624</a
            ></span
          >
        </li>
      </ul>
    </section>

    <section
      class="px-4 md:px-6 lg:px-8 clip rounded mx-4 max-w-[120ch] md:mx-auto bg-[#1b1b1b] p-6 text-white text-center mb-16"
    >
      <p>
        Note: EIP-2077 is not an official EIP, but rather a fictional/satirical
        example. It is not listed on the official EIP wiki page.
      </p>
    </section>

    <article class="px-4 md:px-6 lg:px-8 flow hero">
      <h2>Abstract</h2>
      <p class="lede mb-4">
        Introduces 2077 Collective (a.k.a. Ethereum’s Unofficial Marketing
        Department): a community-driven initiative to strengthen the Ethereum
        brand and onboard new users, builders, and investors through coordinated
        marketing efforts. The newly formed 2077 Collective rallies the social
        layer to amplify ETH-focused messages online and fix Ethereum’s current
        lack of representation in the digital sphere.
      </p>
      <h2>Motivation</h2>
      <p class="mb-4">
        The authors of this proposal have identified the following problems with
        Ethereum's marketing:
      </p>
      <ul class="marketing mb-16 ml-8">
        <li>
          <span
            >Ethereum doesn’t have a marketing team but its competitors do.</span
          >
          This affects the Ethereum brand and negatively affects public sentiment,
          mindshare, and developer/user adoption. There’s an established community
          of researchers and developers focused on building and scaling Ethereum.
          But there’s no unified community focused on promoting it.
        </li>
        <li>
          <span>Ethereum lacks a strong social media presence.</span>
          Outside certain platforms such as Farcaster), defenders of the Ethereum
          brand are outnumbered and outclassed by superior shitposting and shilling
          from other L1 communities. Competing L1s dominate the discourse and create
          the false perception of Ethereum as a "dead chain" where the community
          of builders, users, and enthusiasts have disappeared into the ether.
        </li>
        <li>
          <span>Ethereum underallocates to coordinated marketing.</span>
          The Ethereum community takes a hands off approach—in the interests of decentralization
          and credible neutrality—and eschews coordinated promotion and marketing
          of Ethereum and Ethereum projects. However, the lack of a central organization
          coordinating efforts to market Ethereum leads to inconsistent, incoherent,
          and ineffective promotional campaigns for the protocol and ecosystem projects.
        </li>
        <li>
          <span>Ethereum lacks strong voices and advocates.</span>
          Builders and researchers are often too humble and would rather build in
          stealth than take up the task of advocating for Ethereum online and in
          meatspace. Excessive humility and aversion to self-promotion among Ethereans
          results in underappreciation of innovative projects in the Ethereum ecosystem
          and low interest in cutting-edge R&D work undertaken by core developers
          and researchers.
        </li>
      </ul>
      <div class="lg:flex gap-x-16">
        <div class="mb-4 lg:max-w-[80ch]">
          <h2 class="mb-4">Specification</h2>
          <p class="mb-4">
            The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”,
            “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “MAY”, and “OPTIONAL” in this
            document are to be interpreted as described in RFC 2119. The 2077
            Collective SHALL produce and distribute Ethereum-related content
            across various formats (video, podcasts, social media posts, blogs,
            articles, and more) and channels. Content created and disseminated
            by the 2077 Collective MUST NOT be cringe.
          </p>
          <p>
            We further define a set of Ethereum marketing functions that SHOULD
            be implemented by all members of the Ethereum community.
            Implementers MUST be based and serious about making Ethereum cool,
            great and fun again. A verbose description of the specification is
            provided later in this document.
          </p>
        </div>

        <div class="">
          <code
            class="pt-4 pb-1 rounded solidity inline-block bg-[#fafafa] dark:bg-[#1b1b1b] px-2 box-sizing-border-box whitespace-pre overflow-x-auto max-w-full sm:w-full"
          >
          <code class="pl-2 px-1 mt-4 text-sm">specs &nbsp; &times;</code>
            <div class="">
              {
                `
          pragma solidity ^0.14.0;
          
          operation marketEthereum public () {
            function fillTheGap() external;
            function controlTheNarrative() external;
            function correctTheFocus() external;
            function promoteEthereumEcosystem() external;
          }
          `
              }
            </div>
          </code>
        </div>
      </div>

      <div class="functionality">
        <ul class="marketing grid p-0 md:grid-cols-2 gap-8 w-full">
          <li class="list-none">
            <div id="btm">
              <p
                class="mb-4 bg-[#1b1b1b] inline-block w-fit rounded p-2 text-gray-200 text-md"
              >
                Function ID: fillMarketingGap()
              </p>
            </div>
            <div class="mb-4">
              <div class="mb-4">
                <span class="text-[#789d2c] dark:text-[#C6FF50]"
                  >Description:</span
                >
                <p>Fill the marketing and mindset gap in Ethereum</p>
              </div>

              <p class="text-[#789d2c] dark:text-[#C6FF50] font-bold">
                Comments:
              </p>
              <ul class="ml-8">
                <li>Establish consensus on core Ethereum marketing problems</li>
                <li>
                  Create public good infrastructure to tackle marketing problems
                </li>
                <li>
                  Forge working relationships between Ethereum tech community
                  and marketers
                </li>
              </ul>
            </div>
          </li>

          <li class="list-none">
            <div id="btm">
              <p
                class="mb-4 bg-[#1b1b1b] inline-block w-fit rounded p-2 text-gray-200 text-md"
              >
                Function ID: controlTheNarrative()
              </p>
            </div>
            <div class="mb-4">
              <div class="mb-4">
                <span class="text-[#789d2c] dark:text-[#C6FF50]"
                  >Description:</span
                >
                <p>Focus Ethereum marketing efforts in the right description</p>
              </div>

              <p class="text-[#789d2c] dark:text-[#C6FF50] font-bold">
                Comments:
              </p>
              <ul class="ml-8">
                <li>
                  Bring more people on-chain by showcasing innovative
                  applications and projects
                </li>
                <li>
                  Increase % of developers and businesses building on-chain by
                  publishing case studies and highlighting use-cases
                </li>
                <li>
                  Forge working relationships between Ethereum tech community
                  and marketers
                </li>
              </ul>
            </div>
          </li>
          <li class="list-none">
            <div id="btm">
              <p
                class="mb-4 bg-[#1b1b1b] inline-block w-fit rounded p-2 text-gray-200 text-md"
              >
                Function ID: correctTheFocus()
              </p>
            </div>
            <div class="mb-4">
              <div class="mb-4">
                <span class="text-[#789d2c] dark:text-[#C6FF50]"
                  >Description:</span
                >
                <p>Focus Ethereum marketing efforts in the right description</p>
              </div>

              <p class="text-[#789d2c] dark:text-[#C6FF50] font-bold">
                Comments:
              </p>
              <ul class="ml-8">
                <li>Increase % of builders in the Ethereum ecosystem</li>
                <li>
                  Create tools + resources to onboard new users, developers, and
                  businesses to Ethereum.
                </li>
              </ul>
            </div>
          </li>
          <li class="list-none">
            <div id="btm">
              <p
                class="mb-4 bg-[#1b1b1b] inline-block w-fit rounded p-2 text-gray-200 text-md"
              >
                promoteEthereumBrand()
              </p>
            </div>
            <div class="mb-4">
              <div class="mb-4">
                <span class="text-[#789d2c] dark:text-[#C6FF50]"
                  >Description:</span
                >
                <p>Proactively promote and defend the Ethereum brand</p>
              </div>

              <p class="text-[#789d2c] dark:text-[#C6FF50] font-bold">
                Comments:
              </p>
              <ul class="ml-8">
                <li>
                  Use 2077 Collective to promote the Ethereum
                  ecosystem—including Ethereum-adjacent projects and
                  protocols—to drive adoption, mindshare, and investment.
                </li>
                <li>
                  Market the full breadth of the Ethereum ecosystem and show
                  what it has to offer.
                </li>
                <li>
                  Educate users, builders, and businesses about the value
                  proposition of Ethereum infrastructure.
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <h2>Rationale</h2>
      <p class="mb-4">
        If we wish to spread Ethereum and cypherpunk values to as many people as
        possible, there must be a coherent effort for the production and
        distribution of high-quality memes and content promoting Ethereum. This
        effort must be proactive and reactive to be able to create new
        narratives while responding to existing critiques or narratives of other
        blockchain networks. By proactively educating audiences about Ethereum’s
        value proposition, we can onboard new users, builders, business, and
        creators to the Ethereum ecosystem.
      </p>
      <p class="mb-4">
        A community-wide effort to market and promote Ethereum must be
        coordinated for maximum effectiveness. A central entity like the 2077
        Collective creating marketing for Ethereum as a public good will likely
        be more effective compared to the current architecturally decentralized
        approach due to increased coordination allowing for the creation and
        maintenance of a coherent brand.
      </p>
      <h2>Backwards Compatibility</h2>
      <p class="mb-4">
        This EIP introduces backwards incompatible changes to Ethereum's social
        layer and must be accompanied by a cultural hard fork. The industry is
        required to prepare sufficiently for these changes to Ethereum's
        messaging and promotion.
      </p>
      <h2>Security Considerations</h2>
      <p class="mb-4">
        This change injects life into Ethereum's marketing engine and is
        projected to accelerate adoption, usage, and mindshare to significant
        levels. We foresee a fundamental vibe shift and increased awareness of
        Ethereum's greatness, awesomeness, and coolness of Ethereum as a result
        of EIP-2077. Individuals suffering from <a
          class="underline underline-offset-4 text-[#789d2c] dark:text-[#C6FF50]"
          href="https://www.urbandictionary.com/define.php?term=etherphobia"
          id=""
          target="_blank">etherphobia</a
        >
        may experience intense bouts of cope, frustration, and liquidation due to
        prolonged exposure to new Ethereum bangers. Such individuals are advised
        to limit their exposure to Ethernauts, the 2077 Collective, and cryptocurrency
        in general.
      </p>

      <h2>Invitation</h2>
      <ul class="list-none">
        <li class="list-none">
          Join our Discord server <a
            class="text-[#789d2c] dark:text-[#C6FF50]"
            href="https://discord.gg/2077Collective"
            >(https://discord.gg/2077Collective)</a
          >
        </li>
        <li class="list-none">
          Follow us on X <a
            class="text-[#789d2c] dark:text-[#C6FF50]"
            href="https://twitter.com/2077Collective"
            target="_blank">(https://x.com/2077Collective)</a
          >
        </li>
        <li class="list-none">Be based</li>
      </ul>
      <h2>Copyright</h2>
      <p>
        Copyright and related rights waived via <a
          class="text-[#789d2c] dark:text-[#C6FF50] underline underline-offset-4"
          href="https://www.mit.edu/">MIT</a
        >
      </p>
      <h2>Citation</h2>
      <p>Please do not cite this document as:</p>
      <p>
        Emmanuel Awosika <a
          class="text-[#789d2c] dark:text-[#C6FF50] underline underline-offset-3"
          href="https://x.com/eawosikaa"
          target="_blank">(@eawosikaa)</a
        >, Olly <a
          class="text-[#789d2c] dark:text-[#C6FF50] underline underline-offset-3"
          href="https://twitter.com/operator_xyz"
          target="_blank">(@operator_xyz)</a
        >, Lynett.eth <a
          class="text-[#789d2c] dark:text-[#C6FF50] underline underline-offset-3"
          href="https://twitter.com/Lynett0x"
          target="_blank">(@Lynett0x)</a
        >, and 2077 Collective <a
          class="text-[#789d2c] dark:text-[#C6FF50] underline underline-offset-4"
          href="https://twitter.com/2077Collective"
          target="_blank">(@2077Collective)</a
        >, "EIP-2077: Ethereum Marketing Department," Not actually an EIP, no.
        2077, May 2024. [Online serial]. Available: <a
          class="text-[#789d2c] dark:text-[#C6FF50]"
          href="https://2077.xyz">2077.xyz</a
        >.
      </p>
    </article>
    <section class="px-4 md:px-6 lg:px-8 flow update">
      <p>Last updated: August 10, 2024</p>
    </section>
    <Footer />
  </main>
</Layout>

<style lang="scss">
  ul {
    list-style-type: disc;
  }

  .solidity {
    clip-path: polygon(
      120px 0,
      85% 0%,
      110% 100px,
      100% 100%,
      0px 100%,
      0px 0px
    );
  }
  .community {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: grid;
    row-gap: 0.5rem;
    z-index: 2;

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      display: none;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2rem;

    .main_navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-block: 1rem;
    }

    .social {
      display: none;
      align-items: center;
      column-gap: 2rem;
    }
    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .social {
        display: flex;
      }
    }
  }
  .sections {
    position: fixed;
    top: 20%;
    display: none;
  }

  .clip {
    clip-path: none;
    @media (min-width: 1024px) {
      clip-path: polygon(30px 0, 100% 0, 100% 50px, 97% 100%, 0 100%, 0 30px);
    }
  }
  .tag {
    ul {
      padding-inline-start: 0 !important;

      li {
        font-size: var(--size-step-0);
        list-style-type: none;
        padding-inline: 0.4rem;
        padding-block: 0.2rem;
        border-radius: 0.2rem;
      }
    }

    .main {
      li {
        display: inline-flex;
        align-items: center;
        column-gap: 0.2rem;
      }

      li:nth-child(1) {
        margin-block-end: 0.5rem;
        background-color: #15803d;
        color: var(--color-light);
        font-weight: 700;
        box-shadow:
          0 4px 4px #a0a0a024,
          0 2px 5px #a0a0a01f,
          0 1px 10px #a0a0a01a;
      }

      li:nth-child(2) {
        background-color: #1d4ed8;
        color: white;
        font-weight: 700;
        box-shadow:
          0 4px 4px #a0a0a024,
          0 2px 5px #a0a0a01f,
          0 1px 10px #a0a0a01a;
      }
    }
    .info {
      display: grid;
      margin-block-end: 0 !important;
      span {
        font-weight: 900;
        text-transform: capitalize;
      }
      a {
        /*padding: 0.2rem;
        font-weight: 800;
        background-color: rgb(234, 234, 234);
        border-radius: 0.2rem;
        border: 1px solid var(--color-primary);
        text-decoration: none;
        font-family: monospace; */
      }
    }
    .icon {
      display: flex;
      column-gap: 0.4rem;
      margin-block-start: 0 !important;
    }
  }
  .hero {
    margin-block-end: 4rem;

    h2 {
      font-weight: 800;
      text-decoration: none;
      display: inline-block;
    }

    ul {
      display: grid;
      row-gap: 0.6rem;
    }

    .heading {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
    }
    .marketing {
      span {
        font-weight: 900;
      }
    }
    .functionality {
      div {
      }
      code {
        display: inline-grid;
        row-gap: 0.4rem;
        p {
          font-size: 1.2rem;
        }

        .function {
          background-color: var(--neutral-ink-dark-normal);
          display: inline-block;
          width: fit-content;
        }
      }
    }
  }

  .update {
    max-width: 120ch;
    margin-inline: auto;
    margin-block-end: 2rem;
    padding-block-end: 2rem;
  }

  .redacted {
    background-color: black !important;
    color: black !important;
    pointer-events: none;
  }
</style>
